/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

.galleryPhoto {
  transition: transform 0.6s ease;
  overflow: hidden;
}

.galleryPhoto:hover {
  transform: scale(1.1);
  border-radius: 5px;
}

iframe {
  width: 100%;
  height: 100%;
}

.videoWrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.videoWrapper-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.homeSliderSquare {
  text-align: center;
  width: 100% !important;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  border: 4px solid #01bf71;
}

#ytimage {
  transition: all 0.4s ease-in-out;
}

#ytimage:hover {
  transform: scale(1.02);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.selected {
  color: pink;
}
